/*******w************

    Project 3
    Name: CJ Vergel
    Date: 2022-04-23
    Description: A CSS document used for Project 3
    to style the html pages.

********************/

html, body, p, header, footer, div, main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	width: 100%;
    background: #000;
    position: relative;
    color: #DDD;
    font-family: Verdana, sans-serif;
}

main{
	background: #333;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    width: 99%;
    float: none;
    padding: 20px 20px 20px 20px;
    overflow: auto;
    text-align: center;
    font-size: 16px;
    font-family: helvetica;
    letter-spacing: 1px;
}

	main div{
	    max-width: 800px; 
	    margin: auto;	
	}

	main h1{
		margin: 40px auto 15px auto;
		max-width: 600px;
		font-size: 30px;
		font-style: oblique;
		font-family: Helvetica;
		color: #31FF9F;
		text-align: left;
		text-shadow: 3px 3px 2px #222;
	}

	main h2{
		max-width: 628px;
		margin: 0px auto 0px auto;
		font-size: 16px;
		text-align: left;
		color: #FFF;
	}

	main h3{
		max-width: 628px;
		margin: 0px auto;
		font-size: 14px;
		text-align: left;
		color: #BBB;
	}

	main p{
		margin: 15px auto 35px auto;
		max-width: 628px;
		text-align: left;
		line-height: 22px;
	}

	main ul{
		margin: 10px auto;
		max-width: 645px;
		text-align: left;
	}

		main ul li{
			margin: 10px 0px;
		}

.heading{
	margin: 10px auto;
	font-size: 30px;
	font-style: oblique;
	font-family: Helvetica;
	color: #31FF9F;
	text-align: center;
}

#div_backdrop{
	width: 100%;
	margin: auto;
	padding: 20px;
    background: linear-gradient(to bottom, #222 0%, #191919 98%, #000 100%);
    overflow: auto;
    position: relative;
}

#div_banner{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/banner.jpg);
	box-shadow: 0px 0px 10px #000;
	border-radius: 10px 10px 0px 0px;	
    color: #FFF;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#div_content{
	color: #FFF;
	text-align: center;
	align-items: center;
}

#banner_name{
	margin: auto;
    font-size: 60px;
    text-transform: uppercase;
    text-shadow: 10px 5px 10px #000;
    font-family: Helvetica;
    letter-spacing: 30px;
    color: #EEE;
    top: 10px;
    left: 15px;
    position: relative;
}

#banner_service{
	margin: 10px;
    font-size: 30px;
    text-shadow: 3px 3px 2px #222;
    letter-spacing: 6px;
    color: #31FF9F;
    bottom: 10px;
	position: relative;
}

#banner_slogan{
	font-size: 18px;
	text-transform: uppercase;
	color: #DDD;
	bottom: 10px;
	position: relative;
	letter-spacing: 2px;
}

#header{
	width: 100%;
}

#main_nav{
	margin: 0px auto;
	padding: 0px 0px;
	width: 100%;
}

	#main_nav ul{
		display: flex;
		margin: 0px 0px;
		padding: 0px 0px;
		flex-wrap: wrap;
		list-style: none;
		text-align: center;
		font-size: 15px;
		text-transform: uppercase;
		}

		#main_nav ul li{
			flex: 1;
			padding: 0px;
			font-family: Helvetica;
			text-transform: uppercase;
			font-size: 18px;
			
		}

			#main_nav ul li a{
				color: #EEE;
				text-decoration: none;
				letter-spacing: 5px;
				display: block;
				padding: 10px;
				box-shadow: 0px 6px 5px #111;
				background: linear-gradient(to bottom, #000894 0%, #000471 30%, #0B1128 100%);
			}

			#main_nav ul li a:hover, #main_nav ul li a:focus{
				background: #31FF9F;
				color: #444;
				text-decoration: none;
			}

#img_portrait{
	margin-top: 20px;
    max-width: 150px;
    max-height: 150px;
    display: inline;
    border-radius: 200px;
    position: relative;
    right: 5px;
}

#img_vm{
	position: relative;
	right: 15px;
}

#footer{
	text-align: center;
	padding: 15px;
	font-size: 12px;
}

	#footer ul{
		list-style: none;
		display: block;
		padding: 0px;
	}

		#footer ul li{
			display: inline;
		}

			#footer ul li a{
				margin: 15px;
				color: #777;
				text-decoration: none;
			}

			#footer ul li a:hover, #footer ul li a:focus{
				color: #31FF9F;
				opacity: 60%;
			}

#footer .fa {
  padding: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  font-size: 15px;
}

#footer .fa-linkedin {
  background: #0A66C2;
  color: white;
}

@media(max-width: 1060px){
	#main_nav ul{
		flex-direction: column;
	}

	#main_nav ul li a{
		padding: 30px;
	}
}